@if (post) {
<div class="card">
  <h5 class="card-header">{{ post.title }}</h5>
  <div class="card-body">
    <p>
      <strong style="color: rgb(10, 88, 202)">{{ post.category }}</strong>
    </p>
    <p>
      <i>Data pubblicazione: {{ post.date | date : "fullDate" }}</i>
    </p>
    <p class="card-text">
      {{ post.body }}
    </p>
    <button
      type="button"
      class="btn btn-primary"
      (click)="aggiungiPreferito($event)"
    >
      Aggiungi ai preferiti
    </button>
  </div>
</div>
}
